spring:
  application:
    name: ai-service

  datasource:
    url: jdbc:postgresql://localhost:5444/ai_service_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: 8095
  

logging:
  level:
    com.sql.ai_service: DEBUG
    org.hibernate.SQL: DEBUG
    org.flywaydb: INFO


openai:
  api:
    key: ${OPENROUTER_API_KEY}
    base-url: https://openrouter.ai/api/v1
    model: openai/gpt-3.5-turbo
    
app:
  cors:
    allowed-origins: http://localhost:3000,http://localhost:5173,https://*.ngrok-free.app
    allowed-methods: GET,POST,PUT,DELETE,OPTIONS
    allowed-headers: "*"
